#nav-bar {
  position: fixed;
  width: 100%;
  height: 5rem;
  background-color: #F9E083;
  padding: 0 2em;
  z-index: 500;
  font-family: 'Londrina Solid';
}

#nav-bar .logo {
  height: 5rem;
  width: 5rem;
  padding-right: 1rem;
  float: left;
}

#nav-bar .header {
  float: left;
  font-size: 4.5em;
}

.compose-button {
  float: right;
  margin-top: .5rem;
  padding: .6rem;
  border-radius: .6rem;
  border-color: black;
  color: black;
  background-color: #A5E3FE;
  border-width: medium;
  font-size: 2rem;
}